* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #212529;
    --text-color: #ffffff;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: 1.6;
    padding: 20px;
}

.about-me-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.about-image {
    max-width: 75%;
    border-radius: 100%;
    margin-bottom: 20px;
    display: block;
}

.about-me-text {
    max-width: 600px;
    text-align: left;
}
/* Contact Section */


/* Experience Section */

.experience-section {
    padding: 2rem 1rem;
    margin: 3rem 0px;
}

.experience-card {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    padding: .5rem 1rem;
    gap: .5rem;
    border-radius: 6px;
}

.experience-card:hover {
    opacity: 0.5;
    border: 1px solid var(--text-color);
}

.experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

/* Projects Section */
.projects-section {
    padding: 3rem 2rem;
    margin: 5rem 0px;
}

.project-card img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #343a40;
}

.project-card {
    width: 25rem;
    padding: 1rem;
    border-color: var(--body-color);
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.project-card:hover {
    border: 1px solid var(--text-color);
    opacity: 0.7;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    margin-top: 2rem;
}