* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #212529;
    --text-color: #ffffff;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: 1.6;
    padding: 20px;
}

.about-me-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.about-image {
    max-width: 75%;
    border-radius: 100%;
    margin-bottom: 20px;
    display: block;
}

.about-me-text {
    max-width: 600px;
    text-align: left;
}